<%- include("partials/header"); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="publishTitle" />
    <label>Post</label>
    <textarea
      class="form-control"
      rows="4"
      type="text"
      name="publishText"
      placeholder="Type Text Here"
    ></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Publish</button>
</form>

<%- include("partials/footer"); -%>
